<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HKH Studio - About</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body class="about-bg">
  <!-- Navigation -->
  <nav class="nav-container">
    <ul class="nav">
      <img src="{% static 'My_Logo.png' %}" width="100" height="100" id="logo" alt="Logo image" style="left: 20px"/>
      <li><a href="{% url 'index' %}">Home</a></li>
      <li><a href="{% url 'gallery' %}">Gallery</a></li>
      <li><a href="{% url 'about' %}">About</a></li>
      <li><a href="{% url 'book_contact' %}">Book & Contact</a></li>
    </ul>
  </nav>
  <!-- Main content -->
  <main>
    <!-- About section -->
    <div class="about">
      <img src="{% static 'homayoun1.JPG' %}" alt="Homayoun" class="about-image">
      <h2 >HKH PICTURES</h2>
      <p class="border-box">
        Hello, I am Homayoun. I want to explain a little about myself to you so that you can get to know me a little more. I am a graduate of commercial piloting. When my lessons and flights were over, COVID-19 spread and made me unable to apply for employment for several years. Because of the special circumstances that had arisen, the best option I was interested in was the field of photography. I started photographing everything and gained different experiences. You might think that a camera doesn't seem like anything special, but this small camera makes you exercise by walking, find and see new places in the city, and think about different things while walking to find the subject of your photo, which makes be more creative and many other benefits that you know better. That's why I became interested in this field. And what's more interesting is that now I'm studying a computer course in the IT area, which is very interesting and exciting. A new world that has no end.
      </p>
    </div>
  </main>
  <script src="{% static 'scripts.js' %}"></script>
</body>
</html>
